
.nav{
    display: flex;
    position: fixed;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    top: 0;
    backdrop-filter: blur(20px);
}


.ul{
    display: flex;
    gap: 40px;
    text-decoration: none;
    margin: 0 auto;
    list-style-type: none;
    padding-top: 10px;
    font-size: large;
}

.nav h2{
    padding-left: 30px;
}
.li:hover{
    color: rgb(125, 160, 44);
}

.section{
    padding-top: 50px;
    background-color: white;
    height: 100vh;
}
.button{
    background-color: orange;
    height: 50px;
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
}

.button:hover{
    background-color: rgb(231, 86, 34);
    transition: 0.5s ease-in;
    color: white;
}
.footer{
    margin-top: 200px;
    height: 250px;
    background-color: black;
    color: white;
    bottom: 0;
}

.footerInside{
    display: block;
    padding-top: 20px;
    padding-left: 30px;
    list-style-type: none;
}


.copy{
text-align: center;
}

.box{
    width: 90%;
    height: 600px ;
    background-color: rgb(201, 255, 74);
    margin: 0 auto;
    justify-content: center; 
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 15px 15px  rgb(143, 140, 140);
    
}



.box h1{
    text-align: center;
    font-size: 3em;
}

.email{
    font-size: 15px;
    
}
.num{
    margin-bottom: 50px;
}
.footerInside li{
    margin-bottom: 10px;
}

.soc{
    display: flex;
    gap:10px;
    list-style-type: none;

}

.soc li{
    font-size: 30px;
}
.soc li:hover{
    color: rgb(201, 255, 74);
}


